<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content=" width=device-width,initial-scale=1">
  <!--connection to main-css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <!--Bootswatch template lux-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
  <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Luxury Wheels</a>
  <!-- Button for hamburger menu  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
    </div>
  </div>
</nav>
  <div class="container">
    <h1>Login to Luxury Wheels</h1>
    {% if msg %}
      <p class="error">{{ msg }}</p>
    {% endif %}
    <form method="POST">
      <div class="login-form-group">
        <label class="form-label mt-4" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="login-form-group">
        <label class="form-label mt-4" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <div class="login-form-group">
        <input type="submit" class="btn btn-primary" value="Sign In">
      </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    <div class="home-link">
      <a id="home" href="/">Home</a>
    </div>
  </div>
</body>
</html>